@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Home Page"];
}

    <div class="text-center">
        <h1 class="display-4">@Localizer["Welcome"]</h1>
        <p>@Localizer["Content"]</p>
        <p>@Localizer["Content2"]</p>
        <p>@Localizer["Content3"]</p>
        <br>
        <p>@Localizer["InvoiceContent"]</p>
    </div>
