@using HomeAssingmentFE.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.Rendering
@inject IViewLocalizer Localizer
@model IEnumerable<HomeAssingmentFE.Models.ListModel>

@{
    ViewData["Title"] = Localizer["List of Equipments"];
}

<h1>@Localizer["Equipment List Title"]</h1>

<td>@{
        if (ViewData["ResultMessage"] != null)
        {
            ViewBag.Message = Localizer[(string) ViewData["ResultMessage"]];
        }
    }</td>

<td>@ViewBag.Message</td>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName(Localizer["Equipment Type"].Value)
            </th>
            <th>
                @Html.DisplayName(Localizer["Equipment Name"].Value)
            </th>
            <th>
                @Html.DisplayName(Localizer["Days for Rent"].Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            @using (Html.BeginForm("List", "Equipment", FormMethod.Post))
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.EquipmentType)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @{
                            var equipmentType = item.EquipmentType;
                            var name = item.Name;
                            var rentedDays = item.RentedDays;
                        }
                        @Html.HiddenFor(modelItem => equipmentType)
                        @Html.HiddenFor(modelItem => name)
                        @Html.EditorFor(modelItem => rentedDays , new { htmlAttributes = new { @min = "1"} })
                    <td>
                        <input type="submit" value="Add to Chart" />
                    </td>


                </tr>
            }
        }
    </tbody>

</table>